<% include partials/header %>
<h1 style="color: #0090FA; text-align: center;">Schedule</h1>
<iframe src="https://calendar.google.com/calendar/embed?src=7f9i5vtsjk8iv09tqpem0klo50%40group.calendar.google.com&ctz=Africa%2FCasablanca" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>